@page "/post/{Slug}"

@using AnotherBlogEngine.Web.Shared.Extensions

@if (PostItem is not null)
{
    <main class="post-detail">
        <article class="post">

            <figure class="post-cover">
                <img class="post-cover-img" src="@PostItem.CoverImagePath" alt="@PostItem.Title" aria-hidden="true">
            </figure>

            <header class="post-header post-container">

                <h1 class="post-title">@PostItem.Title</h1>

                <div class="post-meta d-flex align-items-center">
                    <div class="post-meta-item post-meta-date">
                        <span class="post-meta-label">published</span>
                        <time class="post-meta-date-time">@PostItem.PublishedDateTime.ToFriendlyShortDateString()</time>
                    </div>

                    <button class="post-meta-btn ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#shareModal" aria-label="share">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                        </svg>
                    </button>
                </div>
            </header>

            <section class="post-content post-container">
                @((MarkupString)PostItem.Body)
            </section>

            <footer class="post-footer post-container">

            </footer>

        </article>

    </main>
}
